<div id="modal-section-form" class="modal">
    <div class="modal-content">
        <h4 id="modal-section-title">Nueva Sección</h4>
        <div class="row">

            <div class="input-field col s12" style="display:none;">
                <input ng-model="$parent.section_id" type="text" class="validate" id="section-id" placeholder=""/>
                    <label class="active" for="section-id"># Sección</label>
            </div>

            <div class="input-field col s12">
                <input ng-model="$parent.section_name" type="text" class="validate" id="section-name" placeholder="" />
                <label class="active" for="section-name">Nombre</label>
            </div>

            <div class="input-field col s12">
            </div>

            <div class="input-field col s12">
                <a id="btn-create-section" class="waves-effect waves-light btn margin-bottom-1em" ng-click="createSection()"><i class="material-icons left">add</i>Crear</a>

                <a id="btn-update-section" class="waves-effect waves-light btn margin-bottom-1em" ng-click="updateSection()"><i class="material-icons left">edit</i>Editar</a>

                <a class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em"><i class="material-icons left">close</i>Cerrar</a>
            </div>

        </div>
    </div>
</div>
