<div class="col s12">
    <h4>GESTIÓN DE SECCIONES</h4>
</div>

<div class="input-field col s12">
    <!-- used for searching the current list -->
    <input id="searchSections" type="text" class="validate" ng-model="search"/>
    <label for="searchSections">Búsqueda de secciones...</label>
</div>

<div class="col s12">
    <div ng-show="sections==undefined" class="card red">
        <div class="card-content white-text">
            <p>No se encontraron secciones.</p>
        </div>
    </div>
    <!-- table that shows all the record list -->
    <table class="bordered highlight" ng-show="sections!=undefined">
        <thead>
            <tr>
                <th class='text-align-center'>
                    &nbsp;
                </th>
                <th ng-click="sort('section_id')" class="width-15-pct">
                    <span class="column-title"># Sección</span>
                    <span ng-show="sortKey=='section_id'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>
                <th ng-click="sort('section_name')" class="width-15-pct">
                    <span class="column-title">Nombre</span>
                    <span ng-show="sortKey=='section_name'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>
                <th class="text-align-center">Acción</th>
            </tr>
        </thead>
        <tbody ng-init="getAllSections()">
            <tr dir-paginate="section in sections | filter:search | orderBy:sortKey:reverse | itemsPerPage:10" pagination-id="id">
                <td class='text-align-center'>
                    <input id="{{ section.id }}" type="checkbox" value="{{ section.id }}" class="filled-in"
                                ng-checked="selection.indexOf(section.id) > -1" ng-click="toggleSelection(section.id)" />
                    <label for="{{ section.id }}">&nbsp;</label>
                </td>
                <td>{{ section.id }}</td>
                <td>{{ section.name }}</td>
                <td class="text-align-center">
                    <a ng-click="readOneSection(section.id)" class="waves-effect waves-light btn margin-bottom-1em"><i class="material-icons">edit</i></a>
                    <a ng-click="deleteSection(section.id)" class="waves-effect waves-light btn margin-bottom-1em"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div> <!-- end col s12 -->

<div class="col s8">
    <!-- angular pagination -->
    <dir-pagination-controls pagination-id="id" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/shared/dir_pagination.tpl.html"></dir-pagination-controls>
</div>
