<div class="section">
    <div class="col s12">
        <h4>AGENTES CON IPATS RECIBIDOS PARCIALMENTE</h4>
    </div>

    <div class="input-field col s12">
        <input id="searchAgentsWithIpatsPartiallyReceived" type="text" class="validate" ng-model="search"/>
        <label for="searchAgentsWithIpatsPartiallyReceived">Búsqueda...</label>
    </div>

    <div class="col s12">
        <div ng-show="reportDataIpatsReceivedWithPendingState == undefined" class="card red">
            <div class="card-content white-text">
                <p>No se encontró información.</p>
            </div>
        </div>
        <table
            class="bordered highlight"
            ng-show="reportDataIpatsReceivedWithPendingState != undefined">
            <thead>
                <tr>
                    <th class='text-align-center'></th>
                    <th ng-click="sort('agent.plaque')" class="width-15-pct">
                        <span class="column-title">Placa</span>
                        <span ng-show="sortKey=='agent.plaque'">
                            <span ng-show="reverse">
                                <i class="material-icons">arrow_upward</i>
                            </span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th ng-click="sort('agent.firstName')" class="width-15-pct">
                        <span class="column-title">Agente</span>
                        <span ng-show="sortKey=='agent.firstName'">
                            <span ng-show="reverse">
                                <i class="material-icons">arrow_upward</i>
                            </span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th ng-click="sort('agent.isActive')" class="width-15-pct">
                        <span class="column-title">Activo ?</span>
                        <span ng-show="sortKey=='agent.isActive'">
                            <span ng-show="reverse">
                                <i class="material-icons">arrow_upward</i>
                            </span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th ng-click="sort('numberOfIpats')" class="width-15-pct">
                        <span class="column-title">Total</span>
                        <span ng-show="sortKey=='numberOfIpats'">
                            <span ng-show="reverse">
                                <i class="material-icons">arrow_upward</i>
                            </span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th class='text-align-center'>Estado</th>
                    <th class='text-align-center'>Detalle</th>
                </tr>
            </thead>
            <tbody ng-init="readIpatsReceivedWithPendingState()">
                <tr
                    dir-paginate="reportData in reportDataIpatsReceivedWithPendingState | filter:search | orderBy:sortKey:reverse | itemsPerPage:10"
                    pagination-id="plaque">
                    <td class='text-align-center'></td>
                    <td>{{ reportData.agent.plaque }}</td>
                    <td>{{ reportData.agent.firstName }} {{ reportData.agent.lastName }}</td>
                    <td>{{ reportData.agent.isActive == 1 ? 'Si' : 'No' }}</td>
                    <td>{{ reportData.numberOfIpats }}</td>
                    <td class="text-align-center">{{ SYSTEM.TRANSACTION_STATE_RECEIVED_WITH_PENDING_DESCRIPTION }}</td>
                    <td class="text-align-center">
                        <div ng-repeat="transaction in reportData.transactions">
                            <div class="chip">
                                {{ transaction.ipatNumber }} | {{ transaction.agentPartiallyReceivedBy.firstName}} {{ transaction.agentPartiallyReceivedBy.lastName}} | {{ transaction.partialReceptionDate }}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col s8">
        <dir-pagination-controls
            pagination-id="plaque"
            boundary-links="true"
            on-page-change="pageChangeHandler(newPageNumber)"
            template-url="views/shared/dir_pagination.tpl.html">
        </dir-pagination-controls>
    </div>
</div>