<header id="header" class="page-topbar">
    <div class="navbar-fixed">
        <nav class="navbar-color">
            <div class="nav-wrapper cyan darken-4">
                <ul class="left">
                  <li><a href="#" class="brand-logo">SISTEMA DE TRANSITO</h1></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a ng-click="closeSession()" class="waves-effect waves-block waves-light chat-collapse"><i class="material-icons">close</i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>