<div class="row row-main">
    <div class="col s4" ng-click="showSections()" ng-show="isAdministrator()">
        <a class='dropdown-button btn width-100-pct' href='#' data-activates='dropdown1'>
            {{ SYSTEM.SCREEN_SECTIONS_TITLE }}
        </a>
    </div>
    <div class="col s4" ng-click="showAgents()" ng-show="isAdministrator() || isTransitTicketAdministrator()">
        <a class='dropdown-button btn width-100-pct' href='#' data-activates='dropdown2'>
            {{ SYSTEM.SCREEN_AGENTS_TITLE }}
        </a>
        <div ng-init="getAllSections()">
            <ul id="dropdown2" class="dropdown-content">
                <li ng-repeat="section in sections">
                    <a>{{ section.name }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col s4" ng-click="showIpatDeliveries()" ng-show="isAdministrator() || isIpatViewer()">
        <a class='dropdown-button btn width-100-pct'
           href='#'
           data-activates='dropdown5'>
            {{ SYSTEM.SCREEN_IPATS_ADMINISTRATION_TITLE }}
        </a>
    </div>
</div>
<div class="row row-main">
    <div class="col s3" ng-click="showInactivities()" style="display: none">
        <a class='dropdown-button btn width-100-pct' href='#' data-activates='dropdown3'>
            {{ SYSTEM.SCREEN_INACTIVITIES_TITLE }}
        </a>
    </div>
    <div class="col s3" ng-click="showSchedules()" style="display: none">
        <a class='dropdown-button btn width-100-pct' href='#' data-activates='dropdown4'>
            {{ SYSTEM.SCREEN_SCHEDULE_TITLE }}
        </a>
    </div>
</div>
<div class="row row-main">
    <div
        class="col s4" ng-click="showTransitTickets()"
        ng-show="isAdministrator() || isTransitTicketAdministrator()">
        <a class='dropdown-button btn width-100-pct' href='#' data-activates="dropdown5">
            {{ SYSTEM.SCREEN_TRANSIT_TICKET_TITLE }}
        </a>
    </div>
    <div class="col s4" ng-click="showReportIpatReceivedWithPending()" ng-show="isAdministrator()">
        <a class='dropdown-button btn width-100-pct' href='#' data-activates="dropdown6">
            {{ SYSTEM.SCREEN_REPORTS_TITLE }}
        </a>
    </div>
    <div class="col s4" ng-click="showUsers()" ng-show="isAdministrator()">
        <a class='dropdown-button btn width-100-pct' href='#' data-activates="dropdown7">
            USUARIOS
        </a>
    </div>
</div>
<div class="row row-main">
    <div
        class="col s4" ng-click="showIpatDeliveryStatistic()"
        ng-show="isAdministrator()">
        <a class='dropdown-button btn width-100-pct' href='#' data-activates="dropdown8">
            {{ SYSTEM.SCREEN_IPAT_DELIVERY_STATISTIC_TITLE }}
        </a>
    </div>
    <div class="col s4" ng-click="showSupport()"
        ng-show="isAdministrator()">
        <a class='dropdown-button btn width-100-pct' href='#' data-activates="dropdown9">
            {{ SYSTEM.SCREEN_SUPPORT_TITLE }}
        </a>
    </div>
</div>