<footer class="page-footer" style="background-color: #30A499">
    <div class="footer-copyright" style="background-color: #30A499">
        <div class="container">
            Sistema de Transito © 2017 | Todos los derechos reservados
        </div>
    </div>
</footer>