/*!
 * Copyright 2016
 * MIT License (https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE)
 */
 .width-10-pct{
   width:10%;
 }

 .width-15-pct{
   width:15%;
 }

 .width-20-pct{
   width:20%;
 }

 .width-25-pct{
   width:25%;
 }

 .width-30-pct{
   width:30%;
 }

 .text-align-center{
   text-align:center;
 }

 .margin-bottom-1em{
   margin-bottom:1em;
 }

 table tr th{
   cursor:pointer;
 }

 .column-title{
   margin:.2em .5em 0 0;
   padding:0;
   float:left;
 }

 .category-label{
   color: #9e9e9e;
   font-size: 0.8rem;
   cursor: text;
   -webkit-transition: .2s ease-out;
   -moz-transition: .2s ease-out;
   -o-transition: .2s ease-out;
   -ms-transition: .2s ease-out;
   transition: .2s ease-out;
 }

 .width-100-pct{
   width:100%;
 }

 .row-main{
   margin:1.14rem 0 0.912rem 0;
 }

 .item-search{
     position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
 }

/*----------------------------------------
    Pre-loader
------------------------------------------*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }
  #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #eceff1;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
    #loader-wrapper .loader-section.section-left {
      left: 0; }
    #loader-wrapper .loader-section.section-right {
      right: 0; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001; }
  #loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite; }
  #loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out; }
  .loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.progress {
  background-color: rgba(255, 64, 129, 0.22); }

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none; }

/*----------------------------------------
    Shadow effect
------------------------------------------*/
.shadow-demo {
  background-color: #26a69a;
  width: 100px;
  height: 100px;
  margin: 20px auto; }

.collapsible-header {
  font-weight: 500; }

/* Sidebar nav open close icons*/
.collapsible-header:after {
  font-family: "Material-Design-Icons";
  content: "\e7c3";
  float: right;
  color: #9e9e9e;
  font-size: 18px; }

.collapsible-header.active:after {
  content: "\e7c1"; }

#input-select .input-field label {
  position: absolute;
  top: -14px;
  font-size: 0.8rem; }

 /*----------------------------------------
    Login Page
------------------------------------------*/
.login-form {
  width: 280px;
}

.login-form-text {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.profile-image-login {
  width: 100px;
  height: 100px !important;
}

.login-text {
  margin-top: -6px;
  margin-left: -6px !important;
}

.text-danger {
  color: #d50000;
}

.hide-element {
  display: none;
}