<div class="col s12">
    <h4>GESTIÓN DE PROGRAMACIÓN</h4>
</div>

<div class="row">
    <div class="category-field col s6">
        <label for="schedule-schedule-date">Fecha Programación</label>
        <input id="schedule-schedule-date" type="text" class="validate" ng-model="$parent.schedule_scheduleDate"/>
    </div>

    <div class="input-field col s6">
        <a id="btn-create-schedule" class="waves-effect waves-light btn margin-bottom-1em" ng-click="createSchedule()"><i class="material-icons left">add</i>Crear</a>
    </div>
</div>

<div ng-show="schedules!=undefined" class="input-field col s12">
    <!-- used for searching the current list -->
    <input id="searchSchedules" type="text" class="validate" ng-model="search"/>
    <label for="searchSchedules">Búsqueda de programación...</label>
</div>

<div class="col s12">
    <div ng-show="schedules==undefined" class="card red">
        <div class="card-content white-text">
            <p>No se encontró programación.</p>
        </div>
    </div>
    <!-- table that shows all the record list -->
    <table class="bordered highlight" ng-show="schedules!=undefined">
        <thead>
            <tr>
                <th class='text-align-center'>
                    &nbsp;
                </th>
                <th ng-click="sort('id')" class="width-15-pct">
                    <span class="column-title">Fecha Programación</span>
                    <span ng-show="sortKey=='id'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>
                <th ng-click="sort('name')" class="width-15-pct">
                    <span class="column-title">Fecha Registro</span>
                    <span ng-show="sortKey=='name'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>
                <th class="text-align-center">Acción</th>
            </tr>
        </thead>
        <tbody ng-init="getAllSchedules()">
            <tr dir-paginate="schedule in schedules | filter:search | orderBy:sortKey:reverse | itemsPerPage:10" pagination-id="scheduleDate">
                <td class='text-align-center'>
                    &nbsp;
                </td>
                <td>{{ schedule.scheduleDate }}</td>
                <td>{{ schedule.registerDate }}</td>
                <td class="text-align-center">
                    <a class="waves-effect waves-light btn margin-bottom-1em"><i class="material-icons">schedule</i></a>
                    <a ng-click="readOneScheduleDetail(schedule.scheduleDate)" class="waves-effect waves-light btn margin-bottom-1em" ><i class="material-icons">system_update_alt</i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div> <!-- end col s12 -->

<div class="col s8">
    <!-- angular pagination -->
    <dir-pagination-controls pagination-id="scheduleDate" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/shared/dir_pagination.tpl.html"></dir-pagination-controls>
</div>
