<div id="modal-schedule-detail-form" class="modal" style="width: 100%;  height:100%;  margin: 0;  padding: 0;" >
    <div class="modal-content" style="width: 100%; height: auto;  min-height: 100%; border-radius: 0">
        <h4 id="modal-schedule-detail-title">Detalle de la Programación</h4>
        <div class="row">

            <!-- table that shows all the record list -->
            <table class="hoverable bordered" ng-show="scheduleDetails!=undefined">
                <thead>
                    <tr>
                        <th ng-click="sort('scheduleDetail.plaqueAgent')" class="width-15-pct">
                            <span class="column-title">Placa Agente</span>
                            <span ng-show="sortKey=='scheduleDetail.plaqueAgent'">
                                <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                                <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                            </span>
                        </th>
                        <th ng-click="sort('scheduleDetail.agentFirstName')" class="width-15-pct">
                            <span class="column-title">Agente</span>
                            <span ng-show="sortKey=='scheduleDetail.agentFirstName'">
                                <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                                <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                            </span>
                        </th>
                        <th ng-click="sort('scheduleDetail.locationName')" class="width-15-pct">
                            <span class="column-title">Ubicación</span>
                            <span ng-show="sortKey=='scheduleDetail.locationName'">
                                <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                                <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                            </span>
                        </th>
                        <th ng-click="sort('scheduleDetail.sectornName')" class="width-15-pct">
                            <span class="column-title">Sector</span>
                            <span ng-show="sortKey=='scheduleDetail.sectornName'">
                                <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                                <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                            </span>
                        </th>
                        <th ng-click="sort('scheduleDetail.startService')" class="width-15-pct">
                            <span class="column-title">Hora Inicio</span>
                            <span ng-show="sortKey=='scheduleDetail.startService'">
                                <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                                <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                            </span>
                        </th>
                        <th ng-click="sort('scheduleDetail.endService')" class="width-15-pct">
                            <span class="column-title">Hora Fin</span>
                            <span ng-show="sortKey=='scheduleDetail.endService'">
                                <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                                <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="scheduleDetail in $parent.scheduleDetails | filter:search" pagination-id="scheduleDate">
                        <td>{{ scheduleDetail.plaqueAgent }}</td>
                        <td>{{ scheduleDetail.agentFirstName }} {{ scheduleDetail.agentLastName }}</td>
                        <td>{{ scheduleDetail.locationName }}</td>
                        <td>{{ scheduleDetail.sectorName }}</td>
                        <td>{{ scheduleDetail.startService }}</td>
                        <td>{{ scheduleDetail.endService }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
