<div class="section">
    <div class="col s12">
        <h4>USUARIOS</h4>
    </div>

    <div class="divider"></div>
    <div class="input-field col s12">
        <input id="searchUsers" type="text" class="validate" ng-model="search"/>
        <label for="searchUsers">Búsqueda de usuarios...</label>
    </div>

    <div class="col s12">
        <div ng-show="users==undefined" class="card red">
            <div class="card-content white-text">
                <p>No se encontraron usuarios.</p>
            </div>
        </div>
        <table
            class="bordered highlight"
            ng-show="users!=undefined">
            <thead>
                <tr>
                    <th ng-click="sort('id')" class="width-15-pct">
                        <span class="column-title">ID</span>
                        <span ng-show="sortKey=='id'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                        </span>
                    </th>
                    <th ng-click="sort('username')" class="width-15-pct">
                        <span class="column-title">Usuario</span>
                        <span ng-show="sortKey=='username'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                        </span>
                    </th>
                    <th ng-click="sort('role.roleName')" class="width-15-pct">
                        <span class="column-title">Rol</span>
                        <span ng-show="sortKey=='role.roleName'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                        </span>
                    </th>
                    <th class="text-align-center">Acción</th>
                </tr>
            </thead>
            <tbody ng-init="getAllUsers()">
                <tr
                    dir-paginate="user in users | filter:search | orderBy:sortKey:reverse | itemsPerPage:10"
                    pagination-id="id">
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role.roleName }}</td>
                    <td class="text-align-center">
                        <a ng-click="readOneUser(user.id)"
                            class="waves-effect waves-light btn margin-bottom-1em">
                            <i class="material-icons">edit</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col s8">
        <dir-pagination-controls
            pagination-id="id"
            boundary-links="true"
            on-page-change="pageChangeHandler(newPageNumber)"
            template-url="views/shared/dir_pagination.tpl.html">
        </dir-pagination-controls>
    </div>
</div>