<div id="modal-user-form" class="modal" ng-init="$parent.getAllAgentsActive()">
    <div class="modal-content">
        <h4 id="modal-user-form-title">Crear Nuevo Usuario</h4>
        <div class="divider"></div>
        <br/>
        <div class="container">
            <form
                class="col s12"
                id="id-user-form"
                name="userForm"
                novalidate>
                <div id="talonary-section" class="section">
                    <h5>Información del Usuario</h5>
                    <div class="divider"></div>
                    <br/>
                    <div class="row" style="display: none">
                        <div class="input-field col s6" style="margin:0;">
                            <input
                                class="validate"
                                name="id"
                                ng-model="$parent.modalCurrentUser.id"
                                type="number"/>
                            <label class="active" for="id">ID</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6" style="margin:0;">
                            <input
                                autofocus
                                class="validate"
                                name="username"
                                ng-model="$parent.modalCurrentUser.username"
                                ng-minlength="1"
                                ng-required="true"
                                type="text"/>
                            <label class="active" for="username">Usuario</label>
                        </div>
                        <div class="input-field col s6" style="margin:0;">
                            <input
                                class="validate"
                                name="password"
                                ng-model="$parent.modalCurrentUser.password"
                                ng-minlength="1"
                                ng-required="true"
                                type="password"/>
                            <label class="active" for="password">Contraseña</label>
                        </div>
                    </div>
                    <div class="input-field col s12"
                        style="margin:0;"
                        ng-init="$parent.getAllAgentsActive()">
                        <div class='category-label'>Agente</div>
                        <select ng-model="$parent.modalCurrentUser.plaqueAgent" class="browser-default">
                            <option ng-repeat="agent in agentsActive" value="{{agent.plaque}}">
                                {{agent.plaque}} | {{agent.firstName}} {{agent.lastName}}
                            </option>
                        </select>
                    </div>
                    <div class="input-field col s12" style="margin:0;" ng-init="getAllRoles()">
                        <div class='category-label'>Rol</div>
                        <select ng-model="$parent.modalCurrentUser.idRole" class="browser-default">
                            <option ng-repeat="role in roles" value="{{role.id}}">
                                {{role.roleName}}
                            </option>
                        </select>
                    </div>
                    <div class="divider"></div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button id="button-create-new-user"
                            class="waves-effect waves-light btn margin-bottom-1em"
                            ng-click="userForm.$valid
                                && createUser(userForm.$valid)"
                            ng-disabled="!userForm.$valid">
                            <i class="material-icons left">add</i>
                            Crear
                        </button>
                        <button id="button-update-user"
                            class="waves-effect waves-light btn margin-bottom-1em"
                            ng-click="userForm.$valid
                                && updateUser(userForm.$valid)"
                            ng-disabled="!userForm.$valid && !userForm.$dirty">
                            <i class="material-icons left">edit</i>
                            Editar
                        </button>
                        <button class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em">
                            <i class="material-icons left">close</i>
                            Cerrar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
