<div class="col s12">
    <h4>CAMBIO DE CONTRASEÑA</h4>
</div>
<div class="divider"></div>
<div class="row">
    <div class="col s12">
        <div class="card green lighten-1">
             <p class="flow-text">Por favor recuerde que en caso de perder su contraseaña deberá comunicarse con el administrador del sistema para realizar su recuperación.</p>
        </div>
    </div>
</div>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="password" ng-model="$parent.user.password" type="password" class="validate">
          <label for="password">Password Actual</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="new-password" ng-model="$parent.user.newPassword" type="password" class="validate">
          <label for="new-password">Password Nuevo</label>
        </div>
      </div>
      <div class="row">
          <div class="col s12">
              <a ng-click="updatePassword()"
                  class="btn waves-effect waves-light"
                  name="action">Actualizar
                  <i class="material-icons right">send</i>
              </a>
          </div>
      </div>
    </form>
  </div>