<div class="col s12">
    <h4>GESTIÓN DE INACTIVIDADES</h4>
</div>

<div class="input-field col s12">
    <!-- used for searching the current list -->
    <input id="searchInactivities" type="text" class="validate" ng-model="search"/>
    <label for="searchInactivities">Búsqueda de inactividades...</label>
</div>

<div class="col s12">
    <div ng-show="inactivities==undefined" class="card red">
        <div class="card-content white-text">
            <p>No se encontraron inactividades.</p>
        </div>
    </div>
    <!-- table that shows all the record list -->
    <table class="bordered highlight" ng-show="inactivities!=undefined">
        <thead>
            <tr>
                <th class='text-align-center'>
                </th>
                <th ng-click="sort('id')" class="width-15-pct">
                    <span class="column-title"># Inactividad</span>
                    <span ng-show="sortKey=='id'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>
                <th ng-click="sort('description')" class="width-15-pct">
                    <span class="column-title">Descripción</span>
                    <span ng-show="sortKey=='description'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>

                <th ng-click="sort('plaqueAgent')" class="width-15-pct">
                    <span class="column-title">Placa</span>
                    <span ng-show="sortKey=='plaqueAgent'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>

                <th ng-click="sort('agentFirstName')" class="width-15-pct">
                    <span class="column-title">Agente</span>
                    <span ng-show="sortKey=='agentFirstName'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>

                <th ng-click="sort('sectionName')" class="width-15-pct">
                    <span class="column-title">Sección</span>
                    <span ng-show="sortKey=='sectionName'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>

                <th ng-click="sort('startDate')" class="width-15-pct">
                    <span class="column-title">Fecha Inicio</span>
                    <span ng-show="sortKey=='startDate'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>

                <th ng-click="sort('endDate')" class="width-15-pct">
                    <span class="column-title">Fecha Fin</span>
                    <span ng-show="sortKey=='endDate'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>
                <th class="text-align-center">Acción</th>
            </tr>
        </thead>
        <tbody ng-init="getAllInactivities()">
            <tr dir-paginate="inactivity in inactivities | filter:search | orderBy:sortKey:reverse | itemsPerPage:10" pagination-id="id">
                <td class='text-align-center'>
                    <input id="{{ inactivity.id }}" type="checkbox" value="{{ inactivity.id }}" class="filled-in"
                                ng-checked="inactivity.indexOf(section.id) > -1" ng-click="toggleSelection(section.id)" />
                    <label for="{{ inactivity.id }}">&nbsp;</label>
                </td>
                <td>{{ inactivity.id }}</td>
                <td>{{ inactivity.description }}</td>
                <td>{{ inactivity.plaqueAgent }}</td>
                <td>{{ inactivity.agentFirstName }} {{ inactivity.agentLastName }}</td>
                <td>{{ inactivity.sectionName }}</td>
                <td>{{ inactivity.startDate }}</td>
                <td>{{ inactivity.endDate }}</td>
                <td class="text-align-center">
                    <a ng-click="readOneInactivity(inactivity.id)" class="waves-effect waves-light btn margin-bottom-1em"><i class="material-icons">edit</i></a>
                    <a ng-click="deleteInactivity(inactivity.id)" class="waves-effect waves-light btn margin-bottom-1em"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div> <!-- end col s12 -->

<div class="col s8">
    <!-- angular pagination -->
    <dir-pagination-controls pagination-id="id" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/shared/dir_pagination.tpl.html"></dir-pagination-controls>
</div>
