<div id="modal-inactivity-form" class="modal">
    <div class="modal-content">
        <h4 id="modal-inactivity-title">Nueva Inactividad</h4>
        <div class="row">

            <div class="input-field col s6" style="margin:0;">
                <div class='category-label'>Tipo de Inactividad</div>
                <select ng-model="$parent.idInactivityType" class="browser-default">
                    <option ng-repeat="inactivity in inactivities" value="{{inactivity.id}}">{{inactivity.description}}</option>
                </select>
            </div>

            <div class="input-field col s6" style="margin:0;">
                <div class='category-label'>Agente</div>
                <select ng-model="$parent.plaque" class="browser-default">
                    <option ng-repeat="agent in agents" value="{{agent.plaque}}">{{agent.plaque}} | {{agent.firstName}} {{agent.lastName}}</option>
                </select>
            </div>

            <div class="input-field col s6">
                <input ng-model="$parent.inactivity_startDate" type="text" class="validate" id="inactivity-start-date" placeholder="" />
                <label class="active" for="inactivity-start-date">Fecha Inicio</label>
            </div>

            <div class="input-field col s6">
                <input ng-model="$parent.inactivity_endDate" type="text" class="validate" id="inactivity-end-date" placeholder="" />
                <label class="active" for="inactivity-end-date">Fecha Fin</label>
            </div>

            <div class="input-field col s12">
            </div>

            <div class="input-field col s12">
                <a id="btn-create-inactivity" class="waves-effect waves-light btn margin-bottom-1em" ng-click="createInactivity()"><i class="material-icons left">add</i>Crear</a>

                <a id="btn-update-inactivity" class="waves-effect waves-light btn margin-bottom-1em" ng-click="updateInactivity()"><i class="material-icons left">edit</i>Editar</a>

                <a class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em"><i class="material-icons left">close</i>Cerrar</a>
            </div>

        </div>
    </div>
</div>
