<div class="col s12">
    <h4>SOPORTE</h4>
</div>
<br/>
<br/>
<div class="col s12">
    <div id="query-manager-query-input" class="input-field col s12" style="margin:0;">
        <textarea ng-model="$parent.queryManager.queryInput"
            class="materialize-textarea"
            placeholder="Consulta a ejecutar"
            style='max-height: 300px'
            name="queryInput">
        </textarea>
        <label class="active" for="queryInput">Entrada</label>
    </div>
    <div class="input-field col s12">
        <a class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em"
           ng-click="executeQuery($parent.queryManager)">
            <i class="material-icons left">done</i>
            Ejecutar
        </a>
    </div>
    <br/>
    <br/>
    <div id="query-manager-query-output" class="input-field col s12" style="margin:0;">
        <textarea ng-model="$parent.queryManager.queryOutput"
            class="materialize-textarea"
            placeholder="Resultado consulta"
            name="queryOutput">
        </textarea>
        <label class="active" for="queryOutput">Salida</label>
    </div>
</div>
