<div class="fixed-action-btn" style="bottom:185px; right:24px;">
    <a class="waves-effect waves-light btn btn-floating btn-large red tooltipped" data-position="left" data-delay="50" data-tooltip="Eliminar agente(s) seleccionado(s)"><i class="large material-icons">clear</i></a>
</div>

<div class="fixed-action-btn" style="bottom:115px; right:24px;">
    <a class="waves-effect waves-light btn btn-floating btn-large cyan tooltipped" data-position="left" data-delay="50" data-tooltip="Exportar a CSV" href="export_csv.php"><i class="large material-icons">file_download</i></a>
</div>

<div class="fixed-action-btn" style="bottom:45px; right:24px;">
    <a class="waves-effect waves-light btn modal-trigger btn-floating btn-large blue tooltipped" data-position="left" data-delay="50" data-tooltip="Crear nuevo agente" href="#modal-agent-form" ng-click="showCreateForm()"><i class="large material-icons">add</i></a>
</div>
