<div id="modal-agent-form" class="modal">
    <div class="modal-content">
        <h4 id="modal-agent-title">Nuevo Agente</h4>
        <div class="row">
            <div class="input-field col s12">
                <input ng-model="$parent.plaque" type="text" class="validate" id="plaque" placeholder="" />
                <label class="active" for="plaque">Placa</label>
            </div>
            <div class="input-field col s6">
                <input ng-model="$parent.firstName" type="text" class="validate" id="firstName" placeholder="" />
                <label class="active" for="firstName">Nombre(s)</label>
            </div>
            <div class="input-field col s6">
                <input ng-model="$parent.lastName" type="text" class="validate" id="lastName" placeholder="" />
                <label class="active" for="lastName">Apellido(s)</label>
            </div>
            <div class="input-field col s6" style="margin:0;">
                <div class='category-label'>Sección</div>
                <select ng-model="$parent.idSection" class="browser-default">
                    <option ng-repeat="section in sections" value="{{section.id}}">{{section.name}}</option>
                </select>
            </div>
            <div class="input-field col s2">
                <input ng-model="$parent.isActive" id="isActive" type="checkbox" checked class="filled-in" />
                <label for="isActive">Activo ?</label>
            </div>
            <div class="input-field col s12">
            </div>
            <div class="input-field col s12">
                <a id="btn-create-agent" class="waves-effect waves-light btn margin-bottom-1em" ng-click="createAgent()"><i class="material-icons left">add</i>Crear</a>
                <a id="btn-update-agent" class="waves-effect waves-light btn margin-bottom-1em" ng-click="updateAgent()"><i class="material-icons left">edit</i>Editar</a>
                <a class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em"><i class="material-icons left">close</i>Cerrar</a>
            </div>
        </div>
    </div>
</div>
