<div class="col s12">
    <h4>GESTIÓN DE AGENTES</h4>
</div>

<div class="input-field col s12">
    <!-- used for searching the current list -->
    <input id="searchAgents" type="text" class="validate" ng-model="search"/>
    <label for="searchAgents">Búsqueda de agentes...</label>
</div>

<div class="col s12">
    <div ng-show="agents==undefined" class="card red">
        <div class="card-content white-text">
            <p>No se encontraron agentes.</p>
        </div>
    </div>
    <!-- table that shows all the record list -->
    <table class="bordered highlight" ng-show="agents!=undefined">
        <thead>
            <tr>
                <th class='text-align-center'>
                </th>
                <th ng-click="sort('plaque')" class="width-15-pct">
                    <span class="column-title">Placa</span>
                    <span ng-show="sortKey=='plaque'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>
                <th ng-click="sort('firstName')" class="width-15-pct">
                    <span class="column-title">Nombre(s)</span>
                    <span ng-show="sortKey=='firstName'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>
                <th ng-click="sort('lastName')" class="width-15-pct">
                    <span class="column-title">Apellido(s)</span>
                    <span ng-show="sortKey=='lastName'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>
                <th ng-click="sort('idSection')" class="width-15-pct">
                    <span class="column-title">Sección</span>
                    <span ng-show="sortKey=='idSection'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>
                <th ng-click="sort('isActive')" class="width-15-pct">
                    <span class="column-title">Activo ?</span>
                    <span ng-show="sortKey=='isActive'">
                        <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                        <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                    </span>
                </th>
                <th class="text-align-center">Acción</th>
            </tr>
        </thead>
        <tbody ng-init="getAllAgents()">
            <tr dir-paginate="agent in agents | filter:search | orderBy:sortKey:reverse | itemsPerPage:10" pagination-id="plaque">
                <td class='text-align-center'>
                    <input id="{{ agent.plaque }}" type="checkbox" value="{{ agent.plaque }}" class="filled-in"
                                ng-checked="selection.indexOf(agent.plaque) > -1" ng-click="toggleSelection(agent.plaque)" />
                    <label for="{{ agent.plaque }}">&nbsp;</label>
                </td>
                <td>{{ agent.plaque }}</td>
                <td>{{ agent.firstName }}</td>
                <td>{{ agent.lastName }}</td>
                <td>{{ agent.sectionName }}</td>
                <td>{{ agent.isActive == 1 ? 'Si' : 'No' }}</td>
                <td class="text-align-center">
                    <a ng-click="readOne(agent.plaque)" class="waves-effect waves-light btn margin-bottom-1em"><i class="material-icons">edit</i></a>
                    <a ng-click="deleteAgent(agent.plaque)" class="waves-effect waves-light btn margin-bottom-1em"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div> <!-- end col s12 -->

<div class="col s8">
    <!-- angular pagination -->
    <dir-pagination-controls pagination-id="plaque" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/shared/dir_pagination.tpl.html"></dir-pagination-controls>
</div>
