<div class="section">
    <div class="col s12">
        <h4 class="text-uppercase">ADMINISTRACIÓN DE IPATS</h4>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12">
            <p>Selecciona un agente para filtrar las estadísticas</p>
        </div>
        <div class="category-field col s6" ng-init="readActiveAgentsWithIpatTransactions()">
            <div class='category-label'>Entregado A</div>
            <select ng-model="$parent.ipatDelivery.deliveredToFilter" class="browser-default">
                <option
                    ng-repeat="agent in activeAgentsWithIpatTransactions"
                    value="{{agent.plaque}}">
                    {{agent.plaque}} | {{agent.firstName}} {{agent.lastName}}
                </option>
            </select>
        </div>
        <div class="input-field col s6">
            <a id="btn-filter-ipat-statistics"
                class="waves-effect waves-light btn margin-bottom-1em"
                ng-click="filterIpatStatistics()">
                <i class="material-icons left">add</i>Filtrar
            </a>
        </div>
        <div
            class="col s12"
            ng-show="areValidDeliveredDatesIpatTransaction != undefined
                && !areValidDeliveredDatesIpatTransaction">
            <div class="card-panel red lighten-1">
                <span class="white-text text-darken-2">
                    El agente tiene IPATs pendientes por recepción con más de 15 días
                </span>
            </div>
        </div>
    </div>
    <div class="col s12">
        <p class="flow-text">Resumen general de los IPATs.</p>
    </div>
    <div class="row" ng-init="readIpatTransactionStatistics()">
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-content green white-text">
                    <p class="card-stats-title"><i class="mdi-action-accessibility"></i>
                        {{ getIpatTransactionStatisticByState(SYSTEM.TRANSACTION_STATE_DELIVERED) != null ?
                            getIpatTransactionStatisticByState(SYSTEM.TRANSACTION_STATE_DELIVERED)
                                .transactionState.name
                            : SYSTEM.TRANSACTION_STATE_DELIVERED_DESCRIPTION }}
                    </p>
                    <h4 class="card-stats-number">
                        {{ getIpatTransactionStatisticByState(SYSTEM.TRANSACTION_STATE_DELIVERED) != null ?
                            getIpatTransactionStatisticByState(SYSTEM.TRANSACTION_STATE_DELIVERED)
                                .totalByTransactionState : SYSTEM.ZERO_RECORDS_FOUND_VALUE }}
                    </h4>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-content pink lighten-1 white-text">
                    <p class="card-stats-title"><i class="mdi-action-find-in-page"></i>
                        {{ getIpatTransactionStatisticByState(
                            SYSTEM.TRANSACTION_STATE_RECEIVED_WITH_PENDING) != null ?
                            getIpatTransactionStatisticByState(
                                SYSTEM.TRANSACTION_STATE_RECEIVED_WITH_PENDING)
                                .transactionState.name
                            :  SYSTEM.TRANSACTION_STATE_RECEIVED_WITH_PENDING_DESCRIPTION }}
                    </p>
                    <h4 class="card-stats-number">
                        {{ getIpatTransactionStatisticByState(
                            SYSTEM.TRANSACTION_STATE_RECEIVED_WITH_PENDING) != null ?
                            getIpatTransactionStatisticByState(
                                SYSTEM.TRANSACTION_STATE_RECEIVED_WITH_PENDING)
                                .totalByTransactionState
                            : SYSTEM.ZERO_RECORDS_FOUND_VALUE }}
                    </h4>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-content blue-grey white-text">
                    <p class="card-stats-title"><i class="mdi-action-done"></i>
                        {{ getIpatTransactionStatisticByState(
                            SYSTEM.TRANSACTION_STATE_RECEIVED) != null ?
                            getIpatTransactionStatisticByState(SYSTEM.TRANSACTION_STATE_RECEIVED)
                                .transactionState.name
                            : SYSTEM.TRANSACTION_STATE_RECEIVED_DESCRIPTION }}
                    </p>
                    <h4 class="card-stats-number">
                        {{ getIpatTransactionStatisticByState(
                            SYSTEM.TRANSACTION_STATE_RECEIVED) != null ?
                            getIpatTransactionStatisticByState(SYSTEM.TRANSACTION_STATE_RECEIVED)
                                .totalByTransactionState
                            : SYSTEM.ZERO_RECORDS_FOUND_VALUE }}
                    </h4>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-content orange white-text">
                    <p class="card-stats-title"><i class="mdi-action-done"></i>
                        {{ getIpatTransactionStatisticByState(
                        SYSTEM.TRANSACTION_STATE_REMAINING) != null ?
                        getIpatTransactionStatisticByState(SYSTEM.TRANSACTION_STATE_REMAINING)
                        .transactionState.name
                        : SYSTEM.TRANSACTION_STATE_REMAINING_DESCRIPTION }}
                    </p>
                    <h4 class="card-stats-number">
                        {{ getIpatTransactionStatisticByState(
                        SYSTEM.TRANSACTION_STATE_REMAINING) != null ?
                        getIpatTransactionStatisticByState(SYSTEM.TRANSACTION_STATE_REMAINING)
                        .totalByTransactionState
                        : SYSTEM.ZERO_RECORDS_FOUND_VALUE }}
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-init="readLastTwoIpatRanges()">
        <div class="col s12 m6 l6">
            <div class="card">
                <div class="card-content purple white-text">
                    <p class="card-stats-title"><i class="mdi-action-history"></i>
                        Rango {{lastTwoIpatRanges[0].isCurrent == '1' ? 'Actual' : 'Posterior' }} ({{ lastTwoIpatRanges[0].initialNumber }} - {{ lastTwoIpatRanges[0].finalNumber }})
                    </p>
                    <p class="card-stats-title">
                        <br/>Total: {{ lastTwoIpatRanges[0].totalInRange}}
                        <br/>Procesados: {{ lastTwoIpatRanges[0].totalProcessed }}
                        <br/>Faltantes: {{ lastTwoIpatRanges[0].totalMissing }}
                        <br/>% Faltantes: {{ lastTwoIpatRanges[0].percentageMissing }}%
                        <br/>Pendientes por Entrar: {{ lastTwoIpatRanges[0].totalPendingEntry }}
                        <br/>% Pendientes por Entrar: {{ lastTwoIpatRanges[0].totalPendingEntryPercentage }}%
                        <br/>
                        <br/>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card">
                <div class="card-content blue white-text">
                    <p class="card-stats-title"><i class="mdi-action-history"></i>
                        Rango {{lastTwoIpatRanges[1].isCurrent == '0' && lastTwoIpatRanges[1].initialNumber > lastTwoIpatRanges[0].initialNumber ? 'Posterior' : 'Anterior' }} ({{ lastTwoIpatRanges[1].initialNumber }} - {{ lastTwoIpatRanges[1].finalNumber }})
                    </p>
                    <p class="card-stats-title">
                        <br/>Total: {{ lastTwoIpatRanges[1].totalInRange}}
                        <br/>Procesados: {{ lastTwoIpatRanges[1].totalProcessed }}
                        <br/>Faltantes: {{ lastTwoIpatRanges[1].totalMissing }}
                        <br/>% Faltantes: {{ lastTwoIpatRanges[1].percentageMissing }}%
                        <br/>Pendientes por Entrar: {{ lastTwoIpatRanges[1].totalPendingEntry }}
                        <br/>% Pendientes por Entrar: {{ lastTwoIpatRanges[1].totalPendingEntryPercentage }}%
                        <br/>
                        <br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row" ng-init="getFiltersCriteria()">
        <div class="col s12">
            <p>Seleccione un criterio para realizar la búsqueda</p>
        </div>
        <div class="category-field col s4">
            <div class='category-label'>Búsqueda por</div>
            <select class="browser-default" ng-model="$parent.ipatDeliveryFilter.filterId">
                <option
                    ng-repeat="filter in ipatDeliveryFilters"
                    value="{{filter.filterId}}">{{filter.filterByAlias}}
                </option>
            </select>
        </div>
        <div class="input-field col s4">
            <input class="validate" ng-model="$parent.ipatDeliveryFilter.valueFilter" type="text">
            <label>Valor a buscar</label>
        </div>
        <div class="input-field col s4">
            <a id="btn-serach-ipat-delivery-by-criteria"
                class="waves-effect waves-light btn margin-bottom-1em"
                ng-click="filterIpatDeliveries($parent.ipatDeliveryFilter)">
                <i class="material-icons left">search</i>Buscar
            </a>
        </div>
    </div>
    <div class="divider"></div>
    <div class="col s12">
        <p>Tips para filtrado local</p>
            <small>
                <ul>
                    <li>
                        <strong>EA-Placa</strong> para filtrar rápidamente los datos de la columna "Entregado A", ej: <strong>EA-94</strong>, filtrará la columna para el agente 94
                    </li>
                    <li>
                        <strong>EP-Placa</strong> para filtrar rápidamente los datos de la columna "Entregado Por", ej: <strong>EP-94</strong>, filtrará la columna para el agente 94
                    </li>
                    <li>
                        <strong>RA-Placa</strong> para filtrar rápidamente los datos de la columna "Recibido A", ej: <strong>RA-94</strong>, filtrará la columna para el agente 94
                    </li>
                    <li>
                        <strong>RP-Placa</strong> para filtrar rápidamente los datos de la columna "Recibido Por", ej: <strong>RP-94</strong>, filtrará la columna para el agente 94
                    </li>
                    <li>
                        <strong>RPP-Placa</strong> para filtrar rápidamente los datos de la columna "Recibido Parcialmente Por", ej: <strong>RPP-94</strong>, filtrará la columna para el agente 94
                    </li>
                    <li>
                        <strong>RPA-Placa</strong> para filtrar rápidamente los datos de la columna "Recibido Parcialmente A", ej: <strong>RPA-94</strong>, filtrará la columna para el agente 94
                    </li>
                    <li>
                        <strong>Expiró</strong> para filtrar los registros con más de 15 días después de entrega y sin recepción
                    </li>
                </ul>
            </small>
    </div>
    <div class="input-field col s12">
        <input id="searchIpatDeliveries" type="text" class="validate" ng-model="search"/>
        <label for="searchIpatDeliveries">Búsqueda de IPATs...</label>
    </div>
    <div class="col s12">
        <div ng-show="ipatDeliveries==undefined" class="card red">
            <div class="card-content white-text">
                <p>No se encontraron IPATs.</p>
            </div>
        </div>
        <table
            class="bordered highlight"
            ng-show="ipatDeliveries!=undefined">
            <thead>
                <tr>
                    <th class='text-align-center'></th>
                    <th ng-click="sort('ipatNumber')" class="width-15-pct">
                        <span class="column-title"># IPAT</span>
                        <span ng-show="sortKey=='ipatNumber'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th ng-click="sort('deliveryDate')" class="width-15-pct">
                        <span class="column-title">Fecha Entrega</span>
                        <span ng-show="sortKey=='deliveryDate'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th ng-click="sort('deliveredTo')" class="width-15-pct">
                        <span class="column-title">Entregado A</span>
                        <span ng-show="sortKey=='deliveredTo'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th ng-click="sort('deliveredBy')" class="width-15-pct">
                        <span class="column-title">Entregado Por</span>
                        <span ng-show="sortKey=='deliveredBy'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th ng-click="sort('idTransactionState')" class="width-15-pct">
                        <span class="column-title">Estado</span>
                        <span ng-show="sortKey=='idTransactionState'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th ng-click="sort('partiallyReceivedBy')" class="width-15-pct">
                        <span class="column-title">Recibido Parcialmente Por</span>
                        <span ng-show="sortKey=='partiallyR'">
                            <span ng-show="reverse">
                                <i class="material-icons">arrow_upward</i>
                            </span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th ng-click="sort('partiallyReceivedTo')" class="width-15-pct">
                        <span class="column-title">Recibido Parcialmente A</span>
                        <span ng-show="sortKey=='partiallyReceivedTo'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th ng-click="sort('partialReceptionDate')" class="width-15-pct">
                        <span class="column-title">Fecha Recepción Parcial</span>
                        <span ng-show="sortKey=='partialReceptionDate'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th ng-click="sort('receptionDate')" class="width-15-pct">
                        <span class="column-title">Fecha Recepción</span>
                        <span ng-show="sortKey=='receptionDate'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th ng-click="sort('receivedBy')" class="width-15-pct">
                        <span class="column-title">Recibido Por</span>
                        <span ng-show="sortKey=='receivedBy'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th ng-click="sort('receivedTo')" class="width-15-pct">
                        <span class="column-title">Recibido A</span>
                        <span ng-show="sortKey=='receivedTo'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th ng-click="sort('totalNovelties')" class="width-15-pct">
                        <span class="column-title">Total Novedades</span>
                        <span ng-show="sortKey=='totalNovelties'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th class="text-align-center">Acción</th>
                </tr>
            </thead>
            <tbody ng-init="getAllIpatDeliveries()">
                <tr dir-paginate="ipatDelivery in ipatDeliveries | filter:search | orderBy:sortKey:reverse | itemsPerPage:10"
                    pagination-id="ipatNumber">
                    <td class='text-align-center'></td>
                    <td>{{ ipatDelivery.ipatNumber }}</td>
                    <td>{{ ipatDelivery.deliveryDate }}</td>
                    <td>{{ ipatDelivery.agentDeliveredTo.plaque }} | {{ ipatDelivery.agentDeliveredTo.firstName }} {{ ipatDelivery.agentDeliveredTo.lastName }}</td>
                    <td>{{ ipatDelivery.agentDeliveredBy.plaque }} | {{ ipatDelivery.agentDeliveredBy.firstName }} {{ ipatDelivery.agentDeliveredBy.lastName }}</td>
                    <td>{{ ipatDelivery.transactionState.name }}</td>
                    <td>{{ ipatDelivery.agentPartiallyReceivedBy.plaque }} {{ ipatDelivery.agentPartiallyReceivedBy.plaque !== null ? "|" : "" }} {{ ipatDelivery.agentPartiallyReceivedBy.firstName }} {{ ipatDelivery.agentPartiallyReceivedBy.lastName }}</td>
                    <td>{{ ipatDelivery.agentPartiallyReceivedTo.plaque }} {{ ipatDelivery.agentPartiallyReceivedTo.plaque !== null ? "|" : "" }} {{ ipatDelivery.agentPartiallyReceivedTo.firstName }} {{ ipatDelivery.agentPartiallyReceivedTo.lastName }}</td>
                    <td>{{ ipatDelivery.partialReceptionDate }}</td>
                    <td>{{ ipatDelivery.receptionDate }}</td>
                    <td>{{ ipatDelivery.agentReceivedBy.plaque }} {{ ipatDelivery.agentReceivedBy.plaque !== null ? "|" : "" }} {{ ipatDelivery.agentReceivedBy.firstName }} {{ ipatDelivery.agentReceivedBy.lastName }}</td>
                    <td>{{ ipatDelivery.agentReceivedTo.plaque }} {{ ipatDelivery.agentReceivedTo.plaque !== null ? "|" : "" }} {{ ipatDelivery.agentReceivedTo.firstName }} {{ ipatDelivery.agentReceivedTo.lastName }}</td>
                    <td>{{ ipatDelivery.totalNovelties }}</td>
                    <td class="text-align-center">
                        <a
                            ng-show="(isAdministrator() || isIpatAdministrator()) && ipatDelivery.transactionState.id !== SYSTEM.TRANSACTION_STATE_RECEIVED"
                            ng-click="receiveOneIpatDelivery(ipatDelivery.ipatNumber, ipatDelivery.transactionState.id)"
                            class="waves-effect waves-light btn margin-bottom-1em tooltipped"
                            data-position="left"
                            data-delay="50"
                            data-tooltip="Recepción">
                                <i class="material-icons">done</i>
                        </a>
                        <a ng-show="isAdministrator() && ipatDelivery.transactionState.id == SYSTEM.TRANSACTION_STATE_RECEIVED"
                            ng-click="openModifyIpatDeliveryModal(ipatDelivery.ipatNumber, ipatDelivery.transactionState.id)"
                            class="waves-effect waves-light btn margin-bottom-1em tooltipped"
                            data-position="left"
                            data-delay="50"
                            data-tooltip="Modificar">
                            <i class="material-icons">transfer_within_a_station</i>
                        </a>
                        <a ng-show="(isAdministrator() || isIpatAdministrator() || isIpatViewer())
                           && ipatDelivery.transactionState.id == SYSTEM.TRANSACTION_STATE_RECEIVED"
                           ng-click="openViewIpatDeliveryModal(ipatDelivery.ipatNumber, ipatDelivery.transactionState.id)"
                           class="waves-effect waves-light btn margin-bottom-1em tooltipped"
                           data-position="left"
                           data-delay="50"
                           data-tooltip="Ver">
                            <i class="material-icons">pageview</i>
                        </a>
                        <a
                            ng-show="(isAdministrator() || isIpatAdministrator()) && ipatDelivery.transactionState.id !== SYSTEM.TRANSACTION_STATE_RECEIVED_WITH_PENDING"
                            ng-click="readOneIpatDelivery(ipatDelivery.ipatNumber)"
                            class="waves-effect waves-light btn margin-bottom-1em tooltipped"
                            data-position="left"
                            data-delay="50"
                            data-tooltip="Editar">
                                <i class="material-icons">edit</i>
                        </a>
                        <a
                            ng-click="openIpatTransactionNoveltyModalForm(ipatDelivery.ipatNumber)"
                            ng-show="(isAdministrator() || isIpatAdministrator()) && ipatDelivery.idTransactionState === SYSTEM.TRANSACTION_STATE_RECEIVED"
                            class="waves-effect waves-light btn margin-bottom-1em">
                            <i class="material-icons">warning</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col s12">
        <dir-pagination-controls
            pagination-id="ipatNumber"
            boundary-links="true"
            on-page-change="pageChangeHandler(newPageNumber)"
            template-url="views/shared/dir_pagination.tpl.html">
        </dir-pagination-controls>
    </div>
</div>