<div id="modal-ipat-transaction-novelty-form" class="modal">
    <div class="modal-content">
        <h4 id="modal-ipat-transaction-novelty-form-title">Adición de Novedad</h4>
        <div class="divider"></div>
        <br/>
        <div class="container">
            <form class="col s12" id="id-ipat-transaction-novelty-form" name="ipatTransactionNoveltyForm" novalidate>
                <div class="section">
                    <h5>Información de la novedad</h5>
                    <div class="divider"></div>
                    <br/>
                    <div class="row">
                        <div class="input-field col s6" style="margin:0;">
                            <input
                                ng-model="$parent.ipatTransactionNovelty.diligenceDate"
                                type="date"
                                class="validate"
                                placeholder="" />
                            <label class="active" for="diligenceDate">Fecha Recepción</label>
                        </div>
                        <div class="input-field col s6" style="margin:0;">
                            <input
                                ng-model="$parent.ipatTransactionNovelty.pstDeliveryDate"
                                type="date"
                                class="validate"
                                placeholder="" />
                            <label class="active" for="pstDeliveryDate">Fecha Reenvío</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12" style="margin:0;">
                        <textarea ng-model="$parent.ipatTransactionNovelty.observation"
                            class="materialize-textarea"
                            placeholder="Observaciones de la novedad">
                        </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <a
                            class="waves-effect waves-light btn margin-bottom-1em"
                            ng-click="addIpatTransactionNovelty(ipatTransactionNoveltyForm.$valid)"
                            ng-disabled="ipatTransactionNoveltyForm.$invalid">
                            <i class="material-icons left">add</i>
                            Adicionar
                        </a>
                        <a class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em">
                            <i class="material-icons left">close</i>
                            Cerrar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
