<div id="modal-ipat-delivery-form" class="modal" ng-init="$parent.getAllAgentsActive()">
    <div class="modal-content">
        <h4 id="modal-ipat-delivery-title">Entrega Nuevo IPAT</h4>
        <div class="row">
            <div style="display:none">
                <input id="ipat-delivery-ipat-number"
                    ng-model="$parent.ipatDelivery.ipatNumber"
                    type="text"
                    class="validate"
                    placeholder=""
                    value="{{ipatDelivery.ipatNumber}}"/>
            </div>
            <div id="ipat-delivery-quantity" class="input-field col s12">
                <input ng-model="$parent.ipatDelivery.quantity"
                    type="number"
                    class="validate"
                    placeholder="" />
                <label class="active" for="quantity">Cantidad</label>
            </div>
            <div id="ipat-delivery-delivered-to" class="input-field col s12" style="margin:0;">
                <div class='category-label'>Entregado A</div>
                <select ng-model="$parent.ipatDelivery.deliveredTo" class="browser-default">
                    <option ng-repeat="agent in agentsActive" value="{{agent.plaque}}">
                        {{agent.plaque}} | {{agent.firstName}} {{agent.lastName}}
                    </option>
                </select>
            </div>
            <div id="ipat-delivery-transaction-state"
                ng-init="getIpatTransactionStates()"
                class="input-field col s12" style="margin:0;">
                <div class='category-label'>Estado</div>
                <select
                    ng-change="changedTransactionState()"
                    ng-model="$parent.ipatDelivery.idTransactionState"
                    class="browser-default">
                    <option
                        ng-repeat="state in ipatTransactionStates"
                        value="{{state.id}}">
                        {{state.name}}
                    </option>
                </select>
            </div>
            <div id="ipat-delivery-received-to" class="input-field col s12" style="margin:0;">
                <div class='category-label'>Recibido A</div>
                <select ng-model="$parent.ipatDelivery.receivedTo" class="browser-default">
                    <option ng-repeat="agent in agentsActive" value="{{agent.plaque}}">
                        {{agent.plaque}} | {{agent.firstName}} {{agent.lastName}}
                    </option>
                </select>
            </div>
            <div id="ipat-delivery-partially-received-to" class="input-field col s12" style="margin:0;">
                <div class='category-label'>Recibido Parcialmente A</div>
                <select ng-model="$parent.ipatDelivery.partiallyReceivedTo" class="browser-default">
                    <option ng-repeat="agent in agentsActive" value="{{agent.plaque}}">
                        {{agent.plaque}} | {{agent.firstName}} {{agent.lastName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div id="ipat-delivery-address" class="input-field col s6" style="margin:0;">
                <input id="inp-ipat-delivery-address"
                    ng-model="$parent.ipatDelivery.address"
                    type="text"
                    class="validate"
                    placeholder="" />
                <label class="active" for="address">Dirección</label>
            </div>
            <div id="ipat-delivery-vehicle-plaque" class="input-field col s6" style="margin:0;">
                <input ng-model="$parent.ipatDelivery.vehiclePlaque"
                    type="text"
                    class="validate"
                    placeholder="" />
                <label class="active" for="vehiclePlaque">Placa Vehículo(s)</label>
            </div>
            <div id="ipat-delivery-accident-date" class="input-field col s6" style="margin:0;">
                <input ng-model="$parent.ipatDelivery.accidentDate"
                    type="date"
                    class="validate"
                    placeholder="" />
                <label class="active" for="accidentDate">Fecha Accidente</label>
            </div>
            <div id="ipat-delivery-diligence-date" class="input-field col s6" style="margin:0;">
                <input
                    ng-model="$parent.ipatDelivery.diligenceDate"
                    type="date"
                    class="validate"
                    placeholder="" />
                <label class="active" for="diligenceDate">Fecha Diligenciamiento</label>
            </div>
            <div id="ipat-delivery-severity"
                ng-init="getAllIpatSeverities()"
                class="input-field col s4"
                style="margin:0;">
                <div class='category-label'>Gravedad</div>
                <select ng-model="$parent.ipatDelivery.idSeverity" class="browser-default">
                    <option ng-repeat="ipatSeverity in ipatSeverities"
                        value="{{ipatSeverity.id}}">
                        {{ipatSeverity.description}}
                    </option>
                </select>
            </div>
            <div id="ipat-delivery-classification"
                ng-init="getAllIpatClassifications()"
                class="input-field col s4"
                style="margin:0;">
                <div class='category-label'>Estado del IPAT</div>
                <select ng-model="$parent.ipatDelivery.idClassification" class="browser-default">
                    <option ng-repeat="ipatClassification in ipatClassifications"
                        value="{{ipatClassification.id}}">
                        {{ipatClassification.name}}
                    </option>
                </select>
            </div>
            <div id="ipat-delivery-criminal-news" class="input-field col s4">
                <input ng-model="$parent.ipatDelivery.criminalNews"
                    type="text"
                    class="validate"
                    placeholder="" />
                <label class="active" for="criminalNews">Noticia Criminal</label>
            </div>
            <div id="ipat-delivery-observation" class="input-field col s12" style="margin:0;">
                <textarea ng-model="$parent.ipatDelivery.observation"
                    class="materialize-textarea"
                    placeholder="Observaciones">
                </textarea>
            </div>
            <div id="ipat-delivery-export-ministry-date"
                class="input-field col s12"
                style="margin:0;">
                <input ng-model="$parent.ipatDelivery.exportMinistryDate"
                    type="date" class="validate" placeholder="" />
                <label class="active" for="exportMinistryDate">Fecha a Exportar</label>
            </div>
            <div class="input-field col s12">
                <a id="btn-create-ipat-delivery"
                    class="waves-effect waves-light btn margin-bottom-1em"
                    ng-click="createIpatDelivery()">
                    <i class="material-icons left">add</i>
                    Crear
                </a>
                <a id="btn-receive-ipat-delivery"
                    class="waves-effect waves-light btn margin-bottom-1em"
                    ng-click="receiveIpat()">
                    <i class="material-icons left">done</i>
                    Recibir
                </a>
                <a id="btn-update-ipat-delivery"
                    class="waves-effect waves-light btn margin-bottom-1em"
                    ng-click="updateIpatDelivery()">
                    <i class="material-icons left">edit</i>
                    Editar
                </a>
                <a id="btn-export-ministry-ipat-delivery"
                    class="waves-effect waves-light btn margin-bottom-1em"
                    ng-click="exportMinistryIpatsDelivered()">
                    <i class="material-icons left">file_download</i>
                    Exportar</a>
                <a id="btn-export-ministry-pdf-ipat-delivery"
                    class="waves-effect waves-light btn margin-bottom-1em"
                    ng-click="exportMinistryPDFIpatsDelivered()">
                    <i class="material-icons left">file_download</i>
                    Exportar PDF</a>
                <a class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em">
                    <i class="material-icons left">close</i>
                    Cerrar
                </a>
            </div>
        </div>
    </div>
</div>