<div id="modal-ipat-delivery-peace-and-save" class="modal">
    <div class="modal-content">
        <h4 id="modal-ipat-delivery-peace-and-save-title">Generación de Paz y Salvo</h4>
        <div class="divider"></div>
        <br/>
        <div class="container">
            <form class="col s12"
                id="id-ipat-transaction-peace-and-save-form"
                name="ipatTransactionGeneratePeaceAndSaveForm"
                novalidate>
                <div class="section">
                    <br/>
                    <div class="row">
                        <div class="category-field col s6" ng-init="readActiveAgentsWithIpatTransactions()">
                            <div class='category-label'>Agente</div>
                            <select ng-model="$parent.ipatDeliveryPeaceAndSave.selectedPlaque" class="browser-default">
                                <option
                                    ng-repeat="agent in activeAgentsWithIpatTransactions"
                                    value="{{agent.plaque}}">
                                    {{agent.plaque}} | {{agent.firstName}} {{agent.lastName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="category-field col s6" ng-init="readIpatRanges()">
                            <div class='category-label'>Rango del IPAT</div>
                            <select ng-model="$parent.ipatDeliveryPeaceAndSave.selectedIpatId" class="browser-default">
                                <option
                                    ng-repeat="ipat in ipatTransactionIpatRanges"
                                    value="{{ipat.id}}">
                                    {{ipat.initialNumber}} - {{ipat.finalNumber}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <a
                            class="waves-effect waves-light btn margin-bottom-1em"
                            ng-click="generateIpatDeliveryPeaceAndSave(
                                $parent.ipatDeliveryPeaceAndSave.selectedPlaque,
                                $parent.ipatDeliveryPeaceAndSave.selectedIpatId)">
                            <i class="material-icons left">add</i>
                            Generar
                        </a>
                        <a class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em">
                            <i class="material-icons left">close</i>
                            Cerrar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
