<div id="modal-view-ipat-delivery-form" class="modal">
    <div class="modal-content">
        <h4 id="modal-view-ipat-delivery-title">Información IPAT</h4>
        <div class="divider"></div>
        <br/>
        <div class="container">
            <form
                class="col s12"
                id="id-view-ipat-delivery-form"
                name="viewIpatDeliveryForm"
                novalidate>
                <div id="view-agents-data-section" class="section">
                    <h5>Agentes</h5>
                    <div class="divider"></div>
                    <br/>
                    <br/>
                    <div class="row">
                        <div id="view-ipat-delivery-delivered-to" class="input-field col s6" style="margin:0;">
                            <div class='category-label'>Entregado A</div>
                            <select ng-model="$parent.ipatDelivery.deliveredTo" class="browser-default" disabled>
                                <option ng-repeat="agent in agentsActive" value="{{agent.plaque}}">
                                    {{agent.plaque}} | {{agent.firstName}} {{agent.lastName}}
                                </option>
                            </select>
                        </div>
                        <div id="view-ipat-delivery-delivered-by" class="input-field col s6" style="margin:0;">
                            <div class='    category-label'>Entregado Por</div>
                            <select ng-model="$parent.ipatDelivery.deliveredBy" class="browser-default" disabled>
                                <option ng-repeat="incharge in ipatInCharges" value="{{incharge.agent.plaque}}">
                                    {{incharge.agent.plaque}} | {{incharge.agent.firstName}} {{incharge.agent.lastName}}
                                </option>
                            </select>
                        </div>
                        <div id="view-ipat-delivery-partially-received-to" class="input-field col s6" style="margin:0;">
                            <div class='category-label'>Recibido Parcialmente A</div>
                            <select ng-model="$parent.ipatDelivery.partiallyReceivedTo" class="browser-default" disabled>
                                <option value=""></option>
                                <option ng-repeat="agent in agentsActive" value="{{agent.plaque}}">
                                    {{agent.plaque}} | {{agent.firstName}} {{agent.lastName}}
                                </option>
                            </select>
                        </div>
                        <div id="view-ipat-delivery-partially-received-by" class="input-field col s6" style="margin:0;">
                            <div class='category-label'>Recibido Parcialmente Por</div>
                            <select ng-model="$parent.ipatDelivery.partiallyReceivedBy" class="browser-default" disabled>
                                <option value=""></option>
                                <option ng-repeat="incharge in ipatInCharges" value="{{incharge.agent.plaque}}">
                                    {{incharge.agent.plaque}} | {{incharge.agent.firstName}} {{incharge.agent.lastName}}
                                </option>
                            </select>
                        </div>
                        <div id="view-ipat-delivery-received-to" class="input-field col s6" style="margin:0;">
                            <div class='category-label'>Recibido A</div>
                            <select ng-model="$parent.ipatDelivery.receivedTo" class="browser-default" disabled>
                                <option value=""></option>
                                <option ng-repeat="agent in agentsActive" value="{{agent.plaque}}">
                                    {{agent.plaque}} | {{agent.firstName}} {{agent.lastName}}
                                </option>
                            </select>
                        </div>
                        <div id="view-ipat-delivery-received-by" class="input-field col s6" style="margin:0;">
                            <div class='category-label'>Recibido Por</div>
                            <select ng-model="$parent.ipatDelivery.receivedBy" class="browser-default" disabled>
                                <option ng-repeat="incharge in ipatInCharges" value="{{incharge.agent.plaque}}">
                                    {{incharge.agent.plaque}} | {{incharge.agent.firstName}} {{incharge.agent.lastName}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="view-dates-and-state-section" class="section">
                    <h5>Fechas y Estado</h5>
                    <div class="divider"></div>
                    <br/>
                    <br/>
                    <div class="row">
                        <div id="view-ipat-delivery-delivered-date" class="input-field col s4" style="margin:0;">
                            <input ng-model="$parent.ipatDelivery.deliveryDate"
                                type="date"
                                class="validate"
                                placeholder=""
                                name="deliveryDate"
                                readonly />
                            <label class="active" for="deliveryDate">Fecha Entrega</label>
                        </div>
                        <div id="view-ipat-delivery-partial-reception-date" class="input-field col s4" style="margin:0;">
                            <input ng-model="$parent.ipatDelivery.partialReceptionDate"
                               type="date"
                               class="validate"
                               placeholder=""
                               name="partialReceptionDate"
                               readonly />
                            <label class="active" for="partialReceptionDate">Fecha Recepción Parcial</label>
                        </div>
                        <div id="view-ipat-delivery-reception-date" class="input-field col s4" style="margin:0;">
                            <input ng-model="$parent.ipatDelivery.receptionDate"
                               type="date"
                               class="validate"
                               placeholder=""
                               name="receptionDate"
                               readonly />
                            <label class="active" for="receptionDate">Fecha Recepción</label>
                        </div>
                        <div id="view-ipat-delivery-transaction-state"
                            class="input-field col s12"
                            style="margin:0;"
                            ng-init="getAllIpatTransactionStates()" >
                            <div class='category-label'>Estado</div>
                            <select ng-model="$parent.ipatDelivery.idTransactionState"
                                class="browser-default" disabled>
                                <option ng-repeat="state in allIpatTransactionStates"
                                        value="{{state.id}}">
                                    {{state.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="view-accident-section" class="section">
                    <h5>Información Accidente</h5>
                    <div class="divider"></div>
                    <br/>
                    <br/>
                    <div class="row">
                        <div id="view-ipat-delivery-address" class="input-field col s6" style="margin:0;">
                            <input id="inp-view-ipat-delivery-address"
                                ng-model="$parent.ipatDelivery.address"
                                type="text"
                                class="validate"
                                placeholder=""
                                name="address"
                                readonly />
                            <label class="active" for="address">Dirección</label>
                        </div>
                        <div id="view-ipat-delivery-vehicle-plaque" class="input-field col s6" style="margin:0;">
                            <input ng-model="$parent.ipatDelivery.vehiclePlaque"
                                type="text"
                                class="validate"
                                placeholder=""
                                name="vehiclePlaque"
                                readonly />
                            <label class="active" for="vehiclePlaque">Placa Vehículo(s)</label>
                        </div>
                        <div id="view-ipat-delivery-accident-date" class="input-field col s6" style="margin:0;">
                            <input ng-model="$parent.ipatDelivery.accidentDate"
                                type="date"
                                class="validate"
                                placeholder=""
                                name="accidentDate"
                                readonly />
                            <label class="active" for="accidentDate">Fecha Accidente</label>
                        </div>
                        <div id="ipat-delivery-diligence-date" class="input-field col s6" style="margin:0;">
                            <input
                                ng-model="$parent.ipatDelivery.diligenceDate"
                                type="date"
                                class="validate"
                                placeholder=""
                                name="diligenceDate"
                                readonly />
                            <label class="active" for="diligenceDate">Fecha Diligenciamiento</label>
                        </div>
                        <div id="view-ipat-delivery-severity"
                            class="input-field col s4"
                            style="margin:0;">
                            <div class='category-label'>Gravedad</div>
                            <select ng-model="$parent.ipatDelivery.idSeverity" class="browser-default" disabled>
                                <option value=""></option>
                                <option ng-repeat="ipatSeverity in ipatSeverities"
                                    value="{{ipatSeverity.id}}">
                                    {{ipatSeverity.description}}
                                </option>
                            </select>
                        </div>
                        <div id="view-ipat-delivery-classification"
                            class="input-field col s4"
                            style="margin:0;">
                            <div class='category-label'>Estado del IPAT</div>
                            <select ng-model="$parent.ipatDelivery.idClassification" class="browser-default" disabled>
                                <option value=""></option>
                                <option ng-repeat="ipatClassification in ipatClassifications"
                                    value="{{ipatClassification.id}}">
                                    {{ipatClassification.name}}
                                </option>
                            </select>
                        </div>
                        <div id="view-ipat-delivery-criminal-news" class="input-field col s4">
                            <input ng-model="$parent.ipatDelivery.criminalNews"
                                type="text"
                                class="validate"
                                placeholder=""
                                name="criminalNews"
                                readonly />
                            <label class="active" for="criminalNews">Noticia Criminal</label>
                        </div>
                        <div id="view-ipat-delivery-observation" class="input-field col s12" style="margin:0;">
                            <textarea ng-model="$parent.ipatDelivery.observation"
                                class="materialize-textarea" readonly
                                placeholder="Observaciones">
                            </textarea>
                        </div>
                        <div class="input-field col s12">
                            <a class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em">
                                <i class="material-icons left">close</i>
                                Cerrar
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>