<div class="section">
    <div class="col s12">
        <h4>ESTADÍSTICAS DE IPATS</h4>
    </div>

    <div class="divider"></div>
    <div class="row" ng-init="getFiltersCriteria()">
        <div class="col s12">
            <p>Seleccione un criterio para realizar filtrar los datos</p>
        </div>
        <div class="category-field col s3">
            <select class="browser-default">
                <option>Fecha Inicio (Accidente)</option>
            </select>
        </div>
        <div class="input-field col s2">
            <input class="validate"
                ng-model="$parent.ipatDeliveryStatisticFilter.startAccidentDate"
                type="date">
        </div>
        <div class="category-field col s3">
            <select class="browser-default">
                <option>Fecha Fin (Accidente)</option>
            </select>
        </div>
        <div class="input-field col s2">
            <input class="validate"
                ng-model="$parent.ipatDeliveryStatisticFilter.endAccidentDate"
                type="date">
        </div>
        <div class="input-field col s2">
            <a id="btn-serach-ipat-delivery-by-criteria"
                class="waves-effect waves-light btn margin-bottom-1em"
                ng-click="filterIpatDeliveriesSeveritiesStatistics($parent.ipatDeliveryStatisticFilter)">
                <i class="material-icons left">search</i>Filtrar
            </a>
        </div>
    </div>
    <div class="divider"></div>

    <div class="col s12">
        <div ng-show="ipatDeliveryStatistics==undefined" class="card red">
            <div class="card-content white-text">
                <p>No se encontraron estadísticas.</p>
            </div>
        </div>
        <table class="bordered highlight" ng-show="ipatDeliveryStatistics!=undefined">
            <thead>
                <tr>
                    <th ng-click="sort('total')" class="width-15-pct">
                        <span class="column-title">Total</span>
                        <span ng-show="sortKey=='total'">
                            <span ng-show="reverse">
                                <i class="material-icons">arrow_upward</i>
                            </span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th ng-click="sort('totalDamages')" class="width-15-pct">
                        <span class="column-title">Total Daños</span>
                        <span ng-show="sortKey=='totalDamages'">
                            <span ng-show="reverse">
                                <i class="material-icons">arrow_upward</i>
                            </span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th ng-click="sort('totalInjuries')" class="width-15-pct">
                        <span class="column-title">Total Lesiones</span>
                        <span ng-show="sortKey=='totalInjuries'">
                            <span ng-show="reverse">
                                <i class="material-icons">arrow_upward</i>
                            </span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                    <th ng-click="sort('totalHomicides')" class="width-15-pct">
                        <span class="column-title">Total Homicidios</span>
                        <span ng-show="sortKey=='totalHomicides'">
                            <span ng-show="reverse">
                                <i class="material-icons">arrow_upward</i>
                            </span>
                            <span ng-show="!reverse">
                                <i class="material-icons">arrow_downward</i>
                            </span>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody ng-init="getAllIpatDeliveryStatistics()">
                <tr dir-paginate="statistic in ipatDeliveryStatistics | orderBy:sortKey:reverse | itemsPerPage:10"
                    pagination-id="id">
                    <td>{{ statistic.total }}</td>
                    <td>{{ statistic.totalDamages }}</td>
                    <td>{{ statistic.totalInjuries }}</td>
                    <td>{{ statistic.totalHomicides }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>