<div id="modal-generate-peace-and-save" class="modal">
    <div class="modal-content">
        <h4 id="modal-generate-peace-and-save-title">Generación de Paz y Salvo</h4>
        <div class="divider"></div>
        <br/>
        <div class="container">
            <form class="col s12"
                id="id-generate-peace-and-save-form"
                name="generatePeaceAndSaveForm"
                novalidate>
                <div class="section">
                    <br/>
                    <div class="row">
                        <div class="input-field col s6" style="margin:0;">
                            <input
                                autofocus
                                class="validate"
                                name="talonaryNumber"
                                ng-minlength="1"
                                ng-model="$parent.transitTicketPeaceAndSave.talonaryNumber"
                                type="number"/>
                            <label class="active"># Talonario</label>
                            <span class="text-danger"
                                  ng-show="generatePeaceAndSaveForm.talonaryNumber.$invalid
                                      && !generatePeaceAndSaveForm.talonaryNumber.$pristine">
                                <strong>Se digitó un "# Talonario" no válido.</strong><br/>
                            </span>
                            <span
                                class="text-danger"
                                ng-show="generatePeaceAndSaveForm.talonaryNumber.$error.minlength">
                                <strong>El campo "# Talonario" debe tener más de 1 dígito.</strong><br/>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <a
                            class="waves-effect waves-light btn margin-bottom-1em"
                            ng-click="generatePeaceAndSave($parent.transitTicketPeaceAndSave.talonaryNumber)">
                            <i class="material-icons left">add</i>
                            Generar
                        </a>
                        <a class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em">
                            <i class="material-icons left">close</i>
                            Cerrar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
