<div id="modal-transit-ticket-transaction-form" class="modal" ng-init="$parent.getAllAgentsActive()">
    <div class="modal-content">
        <h4 id="modal-transit-ticket-transaction-form-title">Recepción de Comparendo</h4>
        <div class="divider"></div>
        <br/>
        <div class="container">
            <form class="col s12" id="id-transit-ticket-transaction-form" name="transitTicketTransactionForm" novalidate>
                <div id="infraction-section" class="section">
                    <h5>Información de la infracción</h5>
                    <div class="divider"></div>
                    <br/>
                    <div class="row">
                        <div class="input-field col s6" style="margin:0;">
                            <input
                                class="validate"    
                                name="infractorCode"
                                ng-minlength="1"    
                                ng-model="$parent.transitTicketTransaction.infractorCode"
                                type="text"
                                ng-required="true"/>
                            <label class="active">Código Infractor</label>
                        </div>
                        <div class="input-field col s6" style="margin:0;">
                            <input
                                ng-model="$parent.transitTicketTransaction.diligenceDate"
                                type="date"
                                class="validate"
                                ng-required="true" />
                            <label class="active">Fecha Diligenciamiento</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12" style="margin:0;">
                            <div class='category-label'>Agente Realizó Procedimiento</div>
                            <select
                                class="browser-default"
                                ng-model="$parent.transitTicketTransaction.plaqueAgent"
                                ng-required="true">
                                <option ng-repeat="agent in agentsActive" value="{{agent.plaque}}">
                                    {{agent.plaque}} | {{agent.firstName}} {{agent.lastName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <input
                                class="filled-in"
                                id="id-transit-ticket-transaction-immobilized"
                                ng-model="$parent.transitTicketTransaction.immobilized"
                                type="checkbox"/>
                            <label for="id-transit-ticket-transaction-immobilized">Inmovilizado ?</label>
                        </div>
                    </div>
                    <div class="row"><br/></div>
                    <div class="row">
                        <div class="input-field col s6" style="margin:0;">
                            <input
                                class="validate"
                                ng-model="$parent.transitTicketTransaction.immobilizedSubject"
                                type="text"/>
                            <label class="active">Motivo Inmovilización</label>
                        </div>
                        <div class="input-field col s6" style="margin:0;">
                            <input
                                class="validate"
                                ng-model="$parent.transitTicketTransaction.immobilizedSite"
                                type="text"/>
                            <label class="active">Sitio Inmovilización</label>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button
                            class="waves-effect waves-light btn margin-bottom-1em"
                            ng-click="receiveTransitTicketTransaction(transitTicketTransactionForm.$valid)"
                            ng-disabled="!transitTicketTransactionForm.$valid">
                            <i class="material-icons left">add</i>
                            Recibir
                        </button>
                        <button class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em">
                            <i class="material-icons left">close</i>
                            Cerrar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
