<div id="modal-transit-ticket-talonary-form" class="modal" ng-init="$parent.getAllAgentsActive()">
    <div class="modal-content">
        <h4 id="modal-transit-ticket-talonary-form-title">Nuevo Talonario de Comparendos</h4>
        <div class="divider"></div>
        <br/>
        <div class="container">
            <form
                class="col s12"
                id="id-transit-ticket-talonary-form"
                name="transitTicketTalonaryForm"
                novalidate>
                <div id="talonary-section" class="section">
                    <h5>Información del Talonario</h5>
                    <div class="divider"></div>
                    <br/>
                    <div class="row">
                        <div class="input-field col s6" style="margin:0;">
                            <input
                                autofocus
                                class="validate"
                                name="talonaryNumber"
                                ng-model="$parent.transitTicketTalonary.talonaryNumber"
                                ng-minlength="1"
                                type="number"/>
                            <label class="active" for="talonaryNumber"># Talonario</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6" style="margin:0;">
                            <input
                                autofocus
                                class="validate"
                                name="initialNumber"
                                ng-model="$parent.transitTicketTalonary.initialNumber"
                                ng-minlength="1"
                                ng-required="true"
                                type="number"/>
                            <label class="active" for="initialNumber"># Inicial</label>
                        </div>
                        <div class="input-field col s6" style="margin:0;">
                            <input
                                class="validate"
                                name="finalNumber"
                                ng-model="$parent.transitTicketTalonary.finalNumber"
                                ng-minlength="1"
                                ng-required="true"
                                type="number"/>
                            <label class="active" for="finalNumber"># Final</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6" style="margin:0;">
                            <div class='category-label'>Agente</div>
                            <select
                                class="browser-default"
                                ng-model="$parent.transitTicketTalonary.assignedTo"
                                ng-required="true">
                                <option ng-repeat="agent in agentsActive" value="{{agent.plaque}}">
                                    {{agent.plaque}} | {{agent.firstName}} {{agent.lastName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6" style="margin:0;">
                            <input
                                class="validate"    
                                ng-model="$parent.transitTicketTalonary.deliveryDate"
                                ng-required="true"
                                type="date"/>
                            <label class="active" for="deliveryDate">Fecha Entrega</label>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button
                            class="waves-effect waves-light btn margin-bottom-1em"
                            ng-click="transitTicketTalonaryForm.$valid
                                && createTransitTicketTransaction(transitTicketTalonaryForm.$valid)"
                            ng-disabled="!transitTicketTalonaryForm.$valid">
                            <i class="material-icons left">add</i>
                            Entregar
                        </button>
                        <button class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em">
                            <i class="material-icons left">close</i>
                            Cerrar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
