<div class="section">
    <div class="col s12">
        <h4>ADMINISTRACIÓN DE COMPARENDOS</h4>
    </div>

    <div class="divider"></div>
    <div class="row">
        <div class="col s12">
            <p>Selecciona un agente para filtrar las estadísticas</p>
        </div>
        <div class="category-field col s6" ng-init="getAllAgentsWithTransitTicketTransactions()">
            <div class='category-label'>Agente Realizó Procedimiento</div>
            <select ng-model="$parent.transitTicketTransaction.assignedTo" class="browser-default">
                <option
                    ng-repeat="agent in agentsActiveWithTransitTicketTransactions"
                    value="{{agent.plaque}}">
                    {{agent.plaque}} | {{agent.firstName}} {{agent.lastName}}
                </option>
            </select>
        </div>
        <div class="input-field col s6">
            <a id="btn-filter-ipat-statistics"
                class="waves-effect waves-light btn margin-bottom-1em"
                ng-click="filterTransitTicketTransactionStatistics($parent.transitTicketTransaction.assignedTo)">
                <i class="material-icons left">add</i>Filtrar
            </a>
        </div>
    </div>
        <div class="row" ng-init="loadTransitTicketStatistics()">
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content green white-text">
                    <p class="card-stats-title"><i class="mdi-action-accessibility"></i>
                        Comparendos Entregados
                    </p>
                    <h4 class="card-stats-number">
                        {{ totalDeliveredTransactions }}
                    </h4>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content blue-grey white-text">
                    <p class="card-stats-title"><i class="mdi-action-done"></i>
                        Comparendos Recibidos
                    </p>
                    <h4 class="card-stats-number">
                        {{ totalReceivedTransactions }}
                    </h4>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content pink lighten-1 white-text">
                    <p class="card-stats-title"><i class="mdi-action-warning"></i>
                        Novedades en Comparendos
                    </p>
                    <h4 class="card-stats-number">
                        {{ totalNovelties }}
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>
    <div class="row" ng-init="getTransitTicketTransactionsFiltersCriteria()">
        <div class="col s12">
            <p>Seleccione un criterio para realizar la búsqueda</p>
        </div>
        <div class="category-field col s4">
            <div class='category-label'>Búsqueda por</div>
            <select
                class="browser-default"
                ng-model="$parent.trasitTicketTransactionFilter.filterId">
                <option
                    ng-repeat="filter in trasitTicketTransactionFilters"
                    value="{{filter.filterId}}">{{filter.filterByAlias}}
                </option>
            </select>
        </div>
        <div class="input-field col s4">
            <input
                class="validate"
                ng-model="$parent.trasitTicketTransactionFilter.valueFilter"
                type="text">
            <label>Valor a buscar</label>
        </div>
        <div class="input-field col s4">
            <a id="btn-serach-transit-ticket-transactions-by-criteria"
                class="waves-effect waves-light btn margin-bottom-1em"
                ng-click="getAllTransitTicketTransactionsByCriteria($parent.trasitTicketTransactionFilter)">
                <i class="material-icons left">search</i>Buscar
            </a>
        </div>
    </div>

    <div class="divider"></div>
    <div class="input-field col s12">
        <input id="searchTransitTickets" type="text" class="validate" ng-model="search"/>
        <label for="searchTransitTickets">Búsqueda de comparendos...</label>
    </div>

    <div class="col s12">
        <div ng-show="transitTicketTransactions==undefined" class="card red">
            <div class="card-content white-text">
                <p>No se encontraron comparendos.</p>
            </div>
        </div>
        <table
            class="bordered highlight"
            ng-show="transitTicketTransactions!=undefined">
            <thead>
                <tr>
                    <th class='text-align-center'>
                    </th>
                    <th ng-click="sort('talonaryNumber')" class="width-15-pct">
                            <span class="column-title"># Talonario</span>
                            <span ng-show="sortKey=='talonaryNumber'">
                                <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                                <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                            </span>
                        </th>
                    <th ng-click="sort('ticketNumber')" class="width-15-pct">
                        <span class="column-title"># Comparendo</span>
                        <span ng-show="sortKey=='ticketNumber'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                        </span>
                    </th>
                    <th ng-click="sort('infractorCode')" class="width-15-pct">
                        <span class="column-title">Código Infracción</span>
                        <span ng-show="sortKey=='infractorCode'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                        </span>
                    </th>
                    <th ng-click="sort('commune')" class="width-15-pct">
                        <span class="column-title">Inmovilizado en</span>
                        <span ng-show="sortKey=='commune'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                        </span>
                    </th>
                    <th ng-click="sort('vehiclePlaque')" class="width-15-pct">
                        <span class="column-title">Agente Realizó Procedimiento</span>
                        <span ng-show="sortKey=='vehiclePlaque'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                        </span>
                    </th>
                    <th ng-click="sort('totalNovelties')" class="width-15-pct">
                        <span class="column-title">Total Novedades</span>
                        <span ng-show="sortKey=='totalNovelties'">
                            <span ng-show="reverse"><i class="material-icons">arrow_upward</i></span>
                            <span ng-show="!reverse"><i class="material-icons">arrow_downward</i></span>
                        </span>
                    </th>
                    <th class="text-align-center">Acción</th>
                </tr>
            </thead>
            <tbody ng-init="getAllTransitTicketTransactions()">
                <tr
                    dir-paginate="transaction in transitTicketTransactions | filter:search | orderBy:sortKey:reverse | itemsPerPage:10"
                    pagination-id="talonaryNumber">
                    <td class='text-align-center'>
                    </td>
                    <td>{{ transaction.talonaryNumber }}</td>
                    <td>{{ transaction.ticketNumber }}</td>
                    <td>{{ transaction.infractorCode }}</td>
                    <td>{{ transaction.immobilizedSite }}</td>
                    <td>{{ transaction.plaqueAgent }} | {{ transaction.agent.firstName }} {{ transaction.agent.lastName }}</td>
                    <td>{{ transaction.totalNovelties }}</td>
                    <td class="text-align-center">
                            <a
                            ng-click="readTransitTicketTransaction(transaction.talonaryNumber, transaction.ticketNumber)"
                            class="waves-effect waves-light btn margin-bottom-1em tooltipped"
                            data-position="top"
                            data-delay="50"
                            data-tooltip="Recepción">
                                <i class="material-icons">done</i>
                        </a>
                        <a
                            class="waves-effect waves-light btn margin-bottom-1em tooltipped"
                            ng-click="openNoveltyModalForm(transaction.talonaryNumber, transaction.ticketNumber)"
                            data-position="top"
                            data-delay="50"
                            data-tooltip="Novedad">
                            <i class="material-icons">warning</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col s8">
        <dir-pagination-controls
            pagination-id="talonaryNumber"
            boundary-links="true"
            template-url="views/shared/dir_pagination.tpl.html">
        </dir-pagination-controls>
    </div>
</div>