<div id="modal-transit-ticket-transaction-novelty-form" class="modal">
    <div class="modal-content">
        <h4 id="modal-transit-ticket-transaction-novelty-form-title">Adición de Novedad</h4>
        <div class="divider"></div>
        <br/>
        <div class="container">
            <form class="col s12"
                id="id-transit-ticket-transaction-novelty-form"
                name="transitTicketTransactionNoveltyForm"
                novalidate>
                <div class="section">
                    <h5>Información de la novedad</h5>
                    <div class="divider"></div>
                    <br/>
                    <div class="row">
                        <div class="input-field col s6" style="margin:0;">
                            <input
                                id="diligence-date"
                                name="diligenceDate"
                                ng-model="$parent.transitTicketTransactionNovelty.diligenceDate"
                                type="date"
                                class="validate"
                                ng-required="true" />
                            <label class="active" for="diligence-date">Fecha Recepción</label>
                        </div>
                        <div class="input-field col s6" style="margin:0;">
                            <input
                                id="pst-delivery-date"
                                name="pstDeliveryDate"
                                ng-model="$parent.transitTicketTransactionNovelty.pstDeliveryDate"
                                type="date"
                                class="validate"
                                placeholder="" />
                            <label class="active" for="pst-delivery-date">Fecha Reenvío</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12" style="margin:0;">
                        <textarea
                            class="validate materialize-textarea"
                            name="observation"
                            ng-model="$parent.transitTicketTransactionNovelty.observation"
                            ng-minlength="1"
                            ng-required="true"
                            placeholder="Observaciones de la novedad">
                        </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button
                            class="waves-effect waves-light btn margin-bottom-1em"
                            ng-click="addTransitTicketTransactionNovelty(transitTicketTransactionNoveltyForm.$valid)"
                            ng-disabled="!transitTicketTransactionNoveltyForm.$valid">
                            <i class="material-icons left">add</i>
                            Adicionar
                        </button>
                        <button
                            class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em">
                            <i class="material-icons left">close</i>
                            Cerrar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
